<h1> <%= @project.name %> </h1>
<h2> Material: <%= @project.material %><br/>
Challenge Theme: <%= @project.challenge.theme %></h2>
<p>Number of Contestants: <%= @project.contestant_count %><br/>
Average Contestant Experience: <%= @project.avg_contestant_exp %></p>
